/build
/classes
*~
*/web-app/gwt
*/web-app/WEB-INF/classes
target
.gwt
gwt-unitCache
www-test

*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#eclipse
.settings